<div class="container pad-top">
  <table class="table shipwrecktable">
      <tr>
          <td><h3>Details for {{flixRating.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{flixRating.name}}</td>
      </tr>
      <tr>
          <td>Description</td>
          <td>{{flixRating.description}}</td>
      </tr>
      <!--<tr>-->
          <!--<td>Wreck Condition</td>-->
          <!--<td>{{flixRating.description}}</td>-->
      <!--</tr>-->
      <tr>
          <td>Average Ratings</td>
          <td>{{flixRating.avgRating}} <a class="btn btn-sm" ui-sref="plusFlixRating({id:flixRating.id})">+1</a></td>

      </tr>
      <tr>
          <td>Genre</td>
          <td>{{flixRating.genre}}</td>
      </tr>
      <!--<tr>-->
          <!--<td>Location</td>-->
          <!--<td>{{shipwreck.latitude}}, {{shipwreck.longitude}}</td>-->
      <!--</tr>-->
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editFlixRating({id:flixRating.id})">Edit</a>
  </div>
</div>
